# app
APP_NAME=mqcms
APP_ENV=dev
APP_UPLOAD_HOST_URL=
APP_WEB_TEMP=default

# 是否使用注解扫描缓存
SCAN_CACHEABLE=true

# 应用登录互斥设置（admin：后台 api：接口）
APP_ADMIN_MUTEX=true
APP_API_MUTEX=true

# task
TASK_WORKER_NUM=4

# db
DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=mqcms
DB_USERNAME=root
DB_PASSWORD=123456
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci
DB_PREFIX=
DB_MAX_IDLE_TIME=60

# redis
REDIS_ON=true
REDIS_HOST=localhost
REDIS_AUTH=123456
REDIS_PORT=6379
REDIS_DB=0
REDIS_MAX_IDLE_TIME=60

# api jwt
JWT_API_KEY=WEvrbz%2mleQZ&Rw64OiL!5CV9Yc0xk1
JWT_API_ISS=api.mqcms.net
JWT_API_AUD=api.mqcms.net
JWT_API_ID=api
JWT_API_EXP=864000

# admin jwt
JWT_ADMIN_KEY=cEU04iVaXS8eRMC5F9WDINl!7jk@bqsJ
JWT_ADMIN_ISS=admin.mqcms.net
JWT_ADMIN_AUD=admin.mqcms.net
JWT_ADMIN_ID=admin
JWT_ADMIN_EXP=86400

# mini program
WECHAT_MINI_APP_ID=
WECHAT_MINI_APP_SECRET=

# amqp
AMQP_HOST=127.0.0.1
AMQP_PORT=5672
AMQP_USER=guest
AMQP_PASSWORD=guest
AMQP_VHOST=/